@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-fredoka: 'Fredoka', sans-serif;
}

:root {
  /* Vivingo Brand Colors (Zesty Macaroons) */
  --color-neon-green: #c5e5a5;
  --color-kelly-green: #98b66e;
  --color-freesia: #f9d876;
  --color-yellow: #fbe39d;

  color-scheme: light;
  color: black;
  background-color: var(--color-yellow);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
